<div class="container">
    <h1>Contracts</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Minutes</th>
                <th>Monthly Cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan of userPlans; let i = index">
                <td>{{ i }}</td>
                <td>{{ plan.name }}</td>
                <td>{{ plan.minutes }}</td>
                <td>{{ plan.monthlyCost }}</td>
                <td>
                    <button type="button" (click)="removeContract(i)" class="btn btn-danger">Delete contract</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/plan" class="btn btn-success">Add plan</a>
    <a routerLink="" class="btn btn-danger">Log Out</a>
</div>