<div class="container">
    <h1>Contracts</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>UserId</th>
                <th>planId</th>
                <th>deviceId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contract of userContracts">

                <td>{{ contract.userId }}</td>
                <td>{{ contract.planId }}</td>
                <td>{{ contract.deviceId }}</td>
                <td>
                    <button type="button" (click)="deleteContract(contract.id)" class="btn btn-danger">Delete contract</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/plan" class="btn btn-success">Add plan</a>
    <a routerLink="" class="btn btn-danger">Log out</a>
</div>