<div class="container">
    <h1>Choose a plan</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ availablePlans[0].name }}</th>
                <th>{{ availablePlans[1].name }}</th>
                <th>{{ availablePlans[2].name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button type="button" (click)="addPlan(availablePlans[0].id)" class="btn btn-success">Add</button>
                </td>
                <td>
                    <button type="button" (click)="addPlan(availablePlans[1].id)" class="btn btn-success">Add</button>
                </td>
                <td>
                    <button type="button" (click)="addPlan(availablePlans[2].id)" class="btn btn-success">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/user" class="btn btn-primary">Back</a>
    <a routerLink="" class="btn btn-danger">Log Out</a>
</div>