<div class="container">
    <h1>Choose a plan</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan of availablePlans">
                <td>{{ plan.name }}</td>
                <td>{{ plan.monthlyCost }}</td>
                <td><a routerLink="/device" (click)="(addPlan(plan))" class="btn btn-success">Select</a></td>

                <!-- <td><a routerLink="/device" (click)="(addPlan(0))" class="btn btn-success">Select</a></td> -->

                <!-- <td><a routerLink="/device" (click)="(addPlan(availablePlans[0].id))" class="btn btn-success">Select</a></td>
                <td><a routerLink="/device" (click)="(addPlan(availablePlans[1].id))" class="btn btn-success">Select</a></td>
                <td><a routerLink="/device" (click)="(addPlan(availablePlans[2].id))" class="btn btn-success">Select</a></td> -->
            </tr>
        </tbody>
    </table>
    <a routerLink="/user" class="btn btn-primary">Back</a>
    <a routerLink="" class="btn btn-danger">Log out</a>
</div>